body { font-family: Helvetica,"Helvetica Neue",HelveticaNeue,"Lucida Grande",Arial,sans-serif; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }

/* logo */
h1 a{
	width: 128px;
	height: 69px;
	display:block;
	text-indent: -99999em;
	background: url(logo.gif) no-repeat left top;
}

/* background colors */
body { background-color: #dee6e8; }
#page-container { background-color: #fff; border: 1px solid #d0d0d0; }

/* top navigation (there is the small nav and the larger subnav) */
#header a {
	text-decoration: none;
	color:#101010;
}

#header a:hover {
	text-decoration: underline;
}

#header #nav { 
	display:block; 
	width:550px;
	position: relative;
	top: -40px;
	left: 350px;
	font-size: 1.3em;
}
#header #snav li {
	padding-right:15px;
}
#header #nav li a {
	display:inline-block;
	height:30;
	padding:3px 9px 3px 9px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:#9dd6e9;
	color: #146B8A;
	border: 1px solid #177ba0;
} 
#header #nav li a:hover {
	background-color:#439fbd;
	//border: 1px solid #177ba0;
	color:#fff;
	border: 1px solid #9dd6e9;
	//color:#9dd6e9;
	text-decoration: none;
}
#header #nav li a.active {
	background-color:#439fbd;
	border: 1px solid #177ba0;
	color:#fff;
}
#header #nav li a.active:hover {
	background-color:#439fbd;
	border: 1px solid #177ba0;
	color:#fff;
}

/* center column styling (not within a node or node list) */
.col-center {
	color:#505050;
	font-size:1.1em;
}
.col-center a {
	color:#177ba0; 
}
.col-center h2 {
	color:#177ba0;
	font-size:1.7em;
	line-height:1.2em;
	border-bottom:1px solid #439fbd;
}
.col-center .tabs {
	font-size:1.0em;
}
.col-center .breadcrumb {
	font-size:0.7em;
}
.col-center .item-list {
	margin-top:2em;
}

/* basic node styling (within content area) */
.col-center .node {
	margin: 0 0 2.5em;
	padding: 0 0 1.917em;
}
.col-center .node h2 {
	border:0;
	margin-bottom:0.5em;
}
.col-center .node h2 a {
	color:#505050;
	font-size:0.75em;
	line-height:1.1em;
}
.col-center .node .meta .submitted {
	color:#aaa;
	font-size:0.9em;
}
.col-center .node .meta .submitted a,
.col-center .node .meta .terms a {
	color:#666;
}
.col-center .node .node-links .links a {
	font-size:0.9em;
}

/* right column blocks (defaults to blue background) */
.col-right .block {
	position: relative;
	background-color:#B0DEED;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:7px;
	left:20px; // hack to get midway into blueprint's grid
}

/* left column blocks (defaults to white background) */
.col-left .block {
	position: relative;
	background-color:#fff;
	border:1px solid #B0DEED;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:7px;
	left:-20px; // hack to get midway into blueprint's grid
}

/* general sidebar block styling */
.block .item-list ul {
	margin:0;
}
.block .item-list ul li {
	list-style-type:none;
	list-style:none;
	line-height:1em;
	margin-bottom:0.55em;
}
.block li a {
	color:#101010;
	font-size:0.9em;
}
.block .more-link a {
	color:#333;
	font-size:0.75em;
	font-weight:bold;
	text-transform: uppercase;
}
.col-right h3,
.col-left h3 {
	font-size: 1.0em;
	text-transform: uppercase;
	font-weight:bold;
	color:#333;
}

/* left sidebar block overrides: blue background */
.col-left .block-user {
	background-color:#B0DEED;
	border:0;
}
.col-left .view-content {
	font-size:0.85em;
}
.col-left .view-header a.blog-link {
	font-size: 1.0em;
	text-transform: uppercase;
	font-weight:bold;
	text-decoration: none;
	color:#333;
}
.col-left .view-content a:visited {
	color:#666;
}
.col-left .view-content .picture img {
	border: 1px solid #999;
	margin-top:-10px;
	margin-bottom: 20px;
	margin-left:2px;
}


/* sidebar block overrides: outline/ white background */
.col-right .block-forum {
	background-color:#fff;
	border:1px solid #B0DEED;
}

/* Sticky items should be displayed differently */
.sticky {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #e6f4f9;
  border: none !important;
}
.sticky div, .sticky h2 {
  padding: 5px 10px;
}

